// Color palettes
$palettes: (
    default: (
        white: #ffffff,
        black: #000000,
    ),
    brand: (
        navy: #232e5c,
        teal: #0b7a8a,
        cream: #fff9e8,
        red: #eb6445,
        gold: #fccb67
    ),
    utility: (
        boxShadow: #444444
    )
);
