$font-family: (
	default: 	'sans-serif',
	heading:	'Ariel',
	body:		'Ariel'
);

$font-size: (
	base: 	16px,
	p: 		16px,
	li:		16px,
	h1:		40px,
	h2:		36px,
	h3:		32px,
	h4:		28px,
	h5:		24px,
	h6:		20px
);