.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    display: inline-block;
  }
  
  .text {
    color: black;
  }

  &-items { 
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 40px;
    padding-top: 8px;
  }

  &__item {
    display: inline-block;

    a {
      color: palette(default, black);
      font-weight: 800;
      font-family: 'Poppins';
      font-size: 18px;
      position: relative;
      overflow: hidden;
      line-height: 1.5;

      &:after {
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-100%, -50%);
        background-color: palette(default, black);
        transition: transform 0.4s ease;
      }

      &:hover {

        &:after {
          transform: translate(0, -50%);
        }
      }
    }

    & + & {
      margin-left: 15px;
    }
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;

  .img-wrapper {
    max-width: 50px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }

  .text {
    font-family: 'Poppins';
    font-weight: 800;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    line-height: 0.8;
    letter-spacing: -0.5px;
    margin-left: 5px;
  }
}