.project-wrapper {
  display: flex;

  text-align: center;
}

.project {
  position: relative;

  display: flex;

  width: 100%;
  margin-bottom: 3em;

  background-color: white;
}

.project-text {
  position: absolute;
  top: 50%;

  max-width: 400px;
  margin: auto;
  padding: 3rem;

  transform: translateY(-50%);
  text-align: center;
  h2 {
    margin-bottom: 1rem;

    font-size: 3rem;
  }
}

.project-images {
  display: flex;
  flex-basis: 50%;

  margin-top: auto;
  margin-bottom: auto;

  svg {
    width: 100%;
    height: 100%;

    image {
      cursor: pointer;
    }
  }
}

.project--left {
  .project-images {
    margin-right: auto;
    margin-left: 10vw;
  }

  .project-text {
    left: 50%;
  }
}

.project--right {
  .project-images {
    margin-right: 10vw;
    margin-left: auto;
  }

  .project-text {
    right: 50%;
  }
}