.project {
  position: relative;

  width: 100%;
  margin-bottom: 3em;

  background-color: white;

  &-wrapper {
    display: flex;

    text-align: center;
  }

  &__link {
    display: flex;
  }

  &__text {
    position: absolute;
    top: 50%;

    max-width: 400px;
    margin: auto;
    padding: 3rem;

    transform: translateY(-50%);
    text-align: center;
    h2 {
      margin-bottom: 1rem;

      font-size: 3rem;
    }
  }

  &__images {
    display: flex;
    flex-basis: 50%;

    margin-top: auto;
    margin-bottom: auto;
    svg {
      width: 100%;
      height: 100%;

      image {
        cursor: pointer;
      }
    }
  }

  &--left {
    .project__images {
      margin-right: auto;
      margin-left: 10vw;
    }

    .project__text {
      left: 50%;
    }
  }

  &--right {
    .project__images {
      margin-right: 10vw;
      margin-left: auto;
    }

    .project__text {
      right: 50%;
    }
  }
}