.main {
  position: relative;
  z-index: 1;
  .page-title {
      height: 50vh;
      max-height: 100vh;
      width: 100vw;
      position: relative;

      @include media-breakpoint-up(sm) {
          height: 100vh;
      }

      .text {
          position: absolute;
          bottom: 0;
          transition: transform 0.45s cubic-bezier(0.770, 0.000, 0.175, 1.000);
          -webkit-text-stroke: 2px black;
          color: white;
          z-index: 2;
      }

      .img-wrapper {
          position: absolute;
          right: 40px;
          top: 100px;
          z-index: 1;

          img {
              width: 40vw;
              height: auto;
          }
      }
      
      $count: 7;

      @for $i from 0 through $count {
          .text-#{$i}{
              transform: translateY(-5vh * $i);
              opacity: 1;
          }
      }

      .text-0 {
          color: black;
      }


      span, h1 {
          font-size:23vw;
          font-family: 'Poppins';
          font-weight: 800;
          line-height: 0.85;
          letter-spacing: -1vw;
          flex-grow: 0;
      }

      &:hover {
          .text{
              transform: translateY(0);
          }
      }

      &--center {
          text-align: center;

          .text { 
              letter-spacing: 0;
              left: 0;
              right: 0;
              margin: 0px auto;
              font-size:20vw;
              top:45%;
          }
      }
  }
}