.portfolio-block {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 500px;
  margin: 0 auto;

  background-color: #2d2d2d;
}

.triangle-wrapper {
  position: relative;
  top: 25px;

  overflow: hidden;

  width: 450px;
  height: 450px;
  margin: 0 auto;

  transform-origin: top left;
}

.equilateral-triangle, .equilateral-triangle__img {
  width: 100%;
  height: 100%;
}

.equilateral-triangle {
  position: absolute;
  /* 117 = 135 * 0.866 */

  overflow: hidden;

  transform: skewX(-45deg);
  transform-origin: 100% 0;
  &:after {
    position: absolute;
    top: 0;

    display: block;

    width: 200px;
    height: 200px;

    content: "";
    transform: skew(45deg);

    background-color: orange;
  }
}

.equilateral-triangle__img {
  background-color: white;
  &:hover {
    background-color: pink;
  }
}

.st0, .st1 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #f2f2f2;
}

.st2 {
  fill: #aaaaaa;
}

.st2, .st3, .st4 {
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st4 {
  fill: transparent;
  stroke: #ffffff;
}

image {
  margin: 0 auto;
}