html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    min-height: 100vh;

    &.is-loading {
        cursor: wait;
    }
}

* {
    &, &:before, &:after {
        box-sizing: inherit;
    }
    &:focus {
        outline: none;
    }
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}