html {
  overflow-x: hidden;

  box-sizing: border-box;
}

body {
  min-height: 100vh;

  background-color: palette(default, white);

  &.is-loading {
    cursor: wait;
  }
}

* {
  &, &:before, &:after {
    box-sizing: inherit;
  }
  &:focus {
    outline: none;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}