---
  title: Deus Machina LTD
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{title | "Deus Machina"}} </title>
  <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body class="body">
  {% include ../_includes/molecules/nav %}
  <main class="main">
    {{ content }}
  </main>
  {% include ../_includes/molecules/footer %}
</body>
</html>