---
  title: Deus Machina LTD
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{title | "Deus Machina"}} </title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="body">
  {% include molecules/nav %}
  <main class="main" data-router-wrapper>
    {{ content }}
  </main>
  {% include molecules/footer %}
</body>
</html>