---
layout: base.liquid
pageTitle: Deus<br>Machina
---
<div class="home" data-router-view="home">
  {% include molecules/homepage-header %}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nulla dolorem distinctio fugit, excepturi, nihil soluta quos doloribus animi recusandae sed voluptatem, provident fugiat sapiente itaque porro ipsam! Libero, hic.</p>
</div>