---
layout: base.liquid
pageTitle: Deus<br>Machina
---
<div class="home" data-router-view="home">
  {% include molecules/homepage-header %}
  <div class="container">
    <div class="row block">
      <div class="col col-xs-12 col-md-8 col-md-offset-2">
        <div class="canvas">
          <div class="inner"></div>
        </div>
        <h1 class="block__title">Build</h1>
      </div>
    </div>
    <div class="row block">
      <div class="col col-xs-12 col-md-8 col-md-offset-2">
        <div class="canvas">
          <div class="inner"></div>
        </div>
        <h1 class="block__title">Paint</h1>
      </div>
    </div>
    <div class="row block">
      <div class="col col-xs-12 col-md-8 col-md-offset-2">
        <div class="canvas">
          <div class="inner"></div>
        </div>
        <h1 class="block__title">Explore</h1>
      </div>
    </div>
  </div>
</div>