@font-face {
    font-family: "icons";
    src: url('/assets/fonts/icons/icons.eot');
    src: url('/assets/fonts/icons/icons.eot?#iefix') format('eot'),
    url('/assets/fonts/icons/icons.woff2') format('woff2'),
    url('/assets/fonts/icons/icons.woff') format('woff'),
    url('/assets/fonts/icons/icons.ttf') format('truetype'),
    url('/assets/fonts/icons/icons.svg#icons') format('svg');
}

@mixin icon-styles {
    font-family: "icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

%icon {
    @include icon-styles;
}

@function icon-char($filename) {
    $char: "";

    @if $filename == halo {
    $char: "\E001";
}

@return $char;
}

@mixin icon($filename, $insert: before) {
    &:#{$insert} {
        @include icon-styles;
        content: icon-char($filename);
        @content;
    }
}

.icon-halo {
    @include icon(halo);
}