---
postTitle: Post 2
pageTitle: Miles
---
<h1>This is my second post</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum perferendis soluta eos quis architecto corrupti? Vitae odio excepturi officiis, dolor corrupti non animi ipsum perferendis ab. Sint ab unde placeat.</p>