  <nav class="nav">
    <a href="/">
      <div class="logo-container">
        <div class="img-wrapper">
          <img src="/assets/img/logo.png" alt="">
        </div>
        <span class="text">Deus<br>Machina</span>
      </div>
    </a>
  </nav>