    <div class="project-wrapper">
      <div class="project project--{{side}}">
        <div class="project-images">
          <svg id="project-{{side}}-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 488 350">
              <defs>
                <clipPath id="cut-off-bottom">
                  <path class="st3" d="M235.5 10.6l-140 234.9h280z"/>
                </clipPath>
              </defs>
              <path class="st0" d="M179.4 10.6l-62 104.1h124zm114.9 36.7l-87.8 147.3h175.6z"/>
              <path class="st1" d="M129.2 298.1l61.6-103.5H67.6z"/>
              <path class="st0" d="M78.3 171.1l29.8-50.1H48.4zm-16.9 33.5l18.5-31h-37zm47.8 119l16.3-27.3H93z"/>
              <path class="st2" d="M247.9 283.5l-16.3 27.3h32.6zm-211.6-38L6.7 295.2h59.2z"/>
              <path class="st3" d="M235.5 10.6l-140 234.9h280z"/>
              <image xlink:href="https://www.w3schools.com/w3css/img_snowtops.jpg" x="10" y="-15" height="300" width="400" clip-path="url(#cut-off-bottom)"/>                
              <path class="st4" d="M232.4 191.3l-57.9 97.2h115.8z"/>                
            </svg>    
          </div>
          <div class="project-text">
            <h2>{{.project_title}}</h2>
            <p>{{.project_blurb}}</p>
          </div>
      </div>
    </div>